@model NebulaTravel.ViewModels.Users.UserBookViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Book place for @Model.Flight.Name</title>
    <link rel="stylesheet" type="text/css" href="/styles/basic.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/form.min.css" />
</head>
<body>
    <main>
        @Html.Partial("_Header")
        <article style="height:100vh">
            <div class="container">
                <div class="img-container" style='background-image: url("/images/a1.jpg");'></div>
                <div class="h-container">
                    <h1>Book place for @Model.Flight.Name</h1>
                </div>
                <div class="text-container">
                    <section>
                        @if (Model.TicketsAvailable)
                        {
                            if (Model.IncorrectPassword)
                            {
                                <p style="color: red; margin-bottom: 10px;">Incorrect password</p>
                            }
                         <form asp-controller="User" asp-action="Book" asp-route-id="@Model.Flight.FlightId" method="post">
                            Please enter your password to confirm:
                            <input type="password" required
                                   id="Password" name="Password" /><br>
                            <button type="submit">Book Flight</button>
                         </form>
                        }
                        else
                        {
                            <p style="color: red">No more tickets available</p>
                        }
                    </section>
                </div>
            </div>
            <button id="scrollToTopButton">Up</button>
        </article>
        <div id="space"></div>
    </main>
</body>
@Html.Partial("ViewScripts")
</html>