@model NebulaTravel.ViewModels.Destinations.DestinationsDestinationViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>@Model.Destination.Name</title>
    <link rel="stylesheet" type="text/css" href="/styles/basic.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/spaceships.min.css" />
</head>
<body>
    <main>
        @Html.Partial("_Header")
        <article>
            <div class="container">
                <div class="img-container" style='background-image: url("../images/destinations/@Model.Destination.Picture");'></div>
                <div class="h-container">
                    <h1>@Model.Destination.Name</h1>
                </div>
                <div class="text-container">
                    <section>
                        <p>
                            @Model.Destination.Description
                        </p>
                        <br />
                        <p>
                            Distance form Earth:  @Model.Destination.Distance
                        <p />
                        <br />
                    </section>
                    @if (Model.Flight != null)
                    {
                        <a href="/Flights/Flight?id=@Model.Flight.FlightId">Check nearest flight</a>
                    }
                    else
                    {
                        <p style="text-align:right;">No flights scheduled now</p>
                    }

                </div>
            </div>
            <button id="scrollToTopButton">Up</button>
        </article>
        <div id="space"></div>
    </main>
</body>
@Html.Partial("ViewScripts")
</html>